@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
}

header{
    position: fixed;
    z-index: 1;
    color: white;
    display: flex;
    width: 100%;
    height: 80px;
    align-items: center;
    background-color: #00000033;
}

header h1{
    margin-right: auto;
    margin-left: 40px;
}


li {
    list-style-type: none;
}

ul{
    display: flex;
    gap: 25px;
    margin-right: 30px;
}

header p {
    margin: 0;
}

.nav-bar {
    display: flex;
    align-items: center;
}

.icon-list {
    gap: 25px;
    display: flex;
    margin-right: 30px;
}

.search{
    margin-right: 30px;
}

.main-img{
    background-image: url(/assets/Image-stranger.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    display: flex;
    align-items: end;
}

.menu {
    font-size: 60px;
}

.drop{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.drop i {
    font-size: 20px;
}

.div-img{
    color: white;
    height: 259px;
    width: 783px;
    background-color: #121212E0;
    margin-bottom: 94px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#button-main{
    border-radius: 10px;
    background-color: #37383b;
    padding: 3px 10px;
    cursor:pointer;
    color: white;
    border: none;
    margin: 13px 0px 0px 70px;
    width: 100px;
}

#h1-main-img{
    max-width: 530px;
    margin-left: 70px;
}

#sep {
    margin: 0px 10px 0px 10px;
}

.description{
    display: flex;
    max-width: 530px;
    margin-left: 70px;
}


#filter a {
    text-decoration: none;
    color: #495057;
}

#filter {
    width: 90%;
    height: 25px;
    display: flex;
    gap: 35px;
    margin-bottom: 30px;
    margin-left: 50px;
}

#filter a:hover{
    color: #AA1C22;
}

.card  p{
    font-size: 12px;
    color:#6C757D;
}

.card h5 {
    font-size: 18px;
    color: #495057;
}

.desc {
    display: flex;
}

.p-desc {
    margin-left: 15px
}

#div-card{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}


#view-all {
    margin-left: auto;
}

.topics {
    margin-top: 70px;
    margin-bottom: 18rem;
}

.topics h1 {
    margin-left: 50px;
}

#last-section {
    background-image: url(/assets/Image.png);
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width: 976px) {

    .nav-bar{
        display: none;
    }

    header h1{
        font-size: 20px;
    }

}

@media screen and (min-width: 976px) {

    .menu{
        display: none;
    }

}

@media screen and (max-width: 518px) {

    #button-main{
        font-size:10px ;
        margin-top: 0px;
        margin-left: 5px;
        margin-bottom: 20px;
    }

    #h1-main-img {
        font-size: 30px ;
        margin-left: 5px;
        text-align: center;
    }

    .div-img {
        display: flex;
        flex-direction: column;
    }

    .description {
        display: flex;
        flex-direction: column;
    }

    p#sep {
        display: none;
    }

    .div-img p {
        font-size: 13px;
        margin: 10px;
    }

    .description{
        margin-left: 5px;
    }

    #filter {
        width: auto;
        margin: 0px;
        margin-bottom: 20px;
    }

    .topics h1 {
        text-align: center;
        margin: 0px;
        margin-bottom: 20px;
    }

}

